﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmAddSupplierProduct.aspx.cs" Inherits="Recharge.Admin.SuppProManage.frmAddSupplierProduct" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <!-- Bootstrap 3.3.4 -->
    <link href="/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="/Content/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="/Content/dist/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme style -->
    <link href="/Content/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <script src="/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="/Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- SlimScroll -->
    <script src="/Content/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='/Content/plugins/fastclick/fastclick.min.js'></script>
    <!-- AdminLTE App -->
    <script src="/Content/dist/js/app.min.js" type="text/javascript"></script>
    <script src="/Content/dist/js/demo.js" type="text/javascript"></script>

    <script src="/Content/layer/layer.js"></script>
    <script src="/Content/jquery.json.min.js"></script>
    <script>
        var allBaseInfo = [];
        var allProince = [];

        function fanxuan(obj) {
            if ($("#" + obj).attr("checked")) {
                $("#" + obj).removeAttr("checked");
            }
            else {
                $("#" + obj).attr("checked", "checked");
            }
        }
        $(function () {
            //加载范围
            $.ajax({
                type: "POST",
                url: "frmAddSupplierProduct.aspx/GetAllProvince",
                async: false,
                data: {},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    var index = layer.load(1, {
                        shade: [0.8, '#fff'], //0.1透明度的白色背景 
                    });
                },
                success: function (data) {
                    if (data.d.Data.length > 0) {
                        allProince = data.d.Data;
                        var divProvincehtml = " <div class=\"checkbox  checkbox-inline\"><label style=\"color: red\"><input type=\"checkbox\"  onclick=\"checkAllProvince()\"   id=\"province-checkboxall\" name=\"inline-allcheckboxProvince\" value=\"1000\"/>全选</label></div>";

                        $.each(data.d.Data,
                            function (i, item) {
                                divProvincehtml +=
                                    "<div class=\"checkbox  checkbox-inline\"><label><input type=\"checkbox\" onclick=\"fanxuan('inline-checkbox" +
                                    item["ID"] +
                                    "')\" id=\"inline-checkbox" +
                                    item["ID"] +
                                    "\" name=\"inline-checkboxProvince\" value=\"" +
                                    item["ID"] +
                                    "\" />" +
                                    item["ProvinceName"] +
                                    "</label></div>";
                            });

                        $("#divProvince").html(divProvincehtml);

                        layer.closeAll();
                    } else {
                        layer.alert("获取商品类型失败", { icon: 2 }, function () { layer.closeAll(); });
                    }

                },
                error: function (err) {
                    layer.alert(err.responseText, { icon: 2 }, function () { layer.closeAll(); });
                }
            });
            //加载供应商
            $.ajax({
                type: "POST",
                url: "frmAddSupplierProduct.aspx/GetAllSupplier",
                async: false,
                data: {},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    var index = layer.load(1, {
                        shade: [0.8, '#fff'], //0.1透明度的白色背景 
                    });
                },
                success: function (data) {
                    if (data.d.Data.length > 0) {
                        var innerhtml = "";
                        $.each(data.d.Data, function (i, item) {
                            innerhtml += "  <option value=\"" + item["ID"] + "\">" + item["TrueName"] + "</option>";
                        });
                        $("#selectSupplier").html(innerhtml);


                        layer.closeAll();
                    } else {
                        layer.alert("获取商品类型失败", { icon: 2 }, function () { layer.closeAll(); });
                    }

                },
                error: function (err) {
                    layer.alert(err.responseText, { icon: 2 }, function () { layer.closeAll(); });
                }
            });
            InitProductBaseInfo(0, 0, 0);
            ChangeBaseInfo();

        });
        function checkAllProvince() {
            if ($("#province-checkboxall").attr("checked") == undefined) {
                $("#province-checkboxall").attr("checked", "checked");
                $("input[name='inline-checkboxProvince']").attr("checked", "checked");
            } else {
                $("#province-checkboxall").removeAttr("checked");
                $("input[name='inline-checkboxProvince']").removeAttr("checked");
            }
        }

        function checkAllprodctBaseInfo() {
            if ($("#prodctBaseInfo-checkboxall").attr("checked") == undefined) {
                $("#prodctBaseInfo-checkboxall").attr("checked", "checked");
                $("input[name='inline-checkboxprodctBaseInfo']").attr("checked", "checked");
            } else {
                $("#prodctBaseInfo-checkboxall").removeAttr("checked");
                $("input[name='inline-checkboxprodctBaseInfo']").removeAttr("checked");
            }
        }

        function InitProductBaseInfo(productTypeId, ispType, phoneNumType) {

            $.ajax({
                type: "POST",
                url: "frmAddSupplierProduct.aspx/GetAllProductBaseInfo",
                async: false,
                data: $.toJSON({ productTypeId: productTypeId, ispType: ispType, phoneNumType: phoneNumType }),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    var index = layer.load(1, {
                        shade: [0.8, '#fff'], //0.1透明度的白色背景 
                    });
                },
                success: function (data) {
                    if (data.d.Data.length > 0) {
                        allBaseInfo = data.d.Data;
                        var innerHtml = " <div class=\"checkbox  checkbox-inline\"><label style=\"color: red\"><input type=\"checkbox\"  onclick=\"checkAllprodctBaseInfo()\"   id=\"prodctBaseInfo-checkboxall\" name=\"inline-allcheckboxprodctBaseInfo\" value=\"1000\"/>全选</label></div>";

                        $.each(data.d.Data,
                            function (i, item) {
                                innerHtml +=
                                    "<div class=\"checkbox  checkbox-inline\"><label><input type=\"checkbox\" onclick=\"fanxuan('inline-checkbox" +
                                    item["ID"] +
                                    "')\" id=\"inline-checkbox" +
                                    item["ID"] +
                                    "\" name=\"inline-checkboxprodctBaseInfo\" value=\"" +
                                    item["ID"] +
                                    "\" />" +
                                    item["ProductName"] +
                                    "</label></div>";
                            });

                        $("#divProdctBaseInfo").html(innerHtml);

                        layer.closeAll();
                    } else {
                        layer.alert("获取商品失败", { icon: 2 }, function () { layer.closeAll(); });
                    }

                },
                error: function (err) {
                    layer.alert(err.responseText, { icon: 2 }, function () { layer.closeAll(); });
                }
            });
        }

        function ChangeBaseInfo() {
            var ispType = $("#selectISPType").val();
            var productTypeId = $("#ddlProductType").val();
            var phoneNumType = $("#selectPhoneNumType").val();
            InitProductBaseInfo(productTypeId, ispType, phoneNumType);
        }

        function SaveInfo() {
            var provinceList = "";
            $("[name='inline-checkboxProvince'][checked]").each(function () {
                var id = $(this).val();
                $.each(allProince, function (i, item) {
                    if (item.ID == id) {
                        provinceList += item.ID + ",";
                    }
                });
            });
            provinceList = provinceList.substring(0, provinceList.length - 1);
            var productList = [];
            $("[name='inline-checkboxprodctBaseInfo'][checked]").each(function () {
                var id = $(this).val();
                $.each(allBaseInfo, function (i, item) {
                    if (item.ID == id) {
                        productList.push({ ProductID: item.ID, ProductName: item.ProductName });
                    }
                });
            });

            if (productList.length == 0) {
                layer.alert("请先选择商品信息！", { icon: 2 }, function () { layer.closeAll(); });
                return;
            }
            if (provinceList.length == 0) {
                layer.alert("请先选充值范围！", { icon: 2 }, function () { layer.closeAll(); });
                return;
            }


            $.ajax({
                type: "POST",
                url: "frmAddSupplierProduct.aspx/CreateProductInfo",
                async: false,
                data: $.toJSON({ model: { ArriveMethod: $("#selectFlowType").val(), SupplierID: $("#selectSupplier").val(), SupplierName: $("#selectSupplier").find("option:selected").text(), ProductTypeId: $("#ddlProductType").val(), ProductTypeName: $("#ddlProductType").find("option:selected").text(), ISPType: $("#selectISPType").val(), ISPName: $("#selectISPType").find("option:selected").text(),ProvinceIds:provinceList },  productList: productList }),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    var index = layer.load(1, {
                        shade: [0.8, '#fff'], //0.1透明度的白色背景 
                    });
                },
                success: function (data) {
                    if (data.d.Data) {
                        layer.alert("供应商增加商品成功", { icon: 1 }, function () { layer.closeAll(); });
                    } else {
                        layer.alert("供应商增加商品失败   " + data.d.Message, { icon: 2 }, function () { layer.closeAll(); });
                    }

                },
                error: function (err) {
                    layer.alert(err.responseText, { icon: 2 }, function () { layer.closeAll(); });
                }
            });
        }
    </script>
</head>
<body class="skin-blue">
    <section class="content">
        <div class="row">

            <div class="box box-info">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">运营商名</span>
                                <select id="selectISPType" class="form-control" onchange="ChangeBaseInfo()">
                                    <option value="1">中国联通</option>
                                    <option value="2">中国移动</option>
                                    <option value="3">中国电信</option>
                                </select>
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon">商品类型</span>
                                <select id="ddlProductType" class="form-control" onchange="ChangeBaseInfo()">
                                    <option value="1001">手机话费</option>
                                    <option value="1002">座机话费</option>
                                    <option value="1003">流量充值</option>
                                </select>
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon">号码类型</span>
                                <select id="selectPhoneNumType" class="form-control" onchange="ChangeBaseInfo()">
                                    <option value="1">手机</option>
                                    <option value="2">固话</option>
                                </select>
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon">当前状态</span>
                                <select id="selectStatus" class="form-control">
                                    <option value="1">正常上架</option>
                                    <option value="2">全部下架</option>
                                </select>
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon">到账方式</span>
                                <select id="selectFlowType" class="form-control">
                                    <option value="0">即时到账</option>
                                    <option value="1">正月到账</option>
                                </select>
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon">供&nbsp;应&nbsp;商</span>
                                <select id="selectSupplier" class="form-control">
                                </select>
                            </div>
                            <%--<br />
                            <div class="input-group">
                                <span class="input-group-addon">商品进价</span>
                                <input type="text" id="txtInPrice" class="form-control" placeholder="商品进价" />
                            </div>--%>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon">商品信息</span>
                                <div id="divProdctBaseInfo" style="border: 1px solid #d2d6de">
                                    &nbsp;
                                </div>
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon">充值范围                           
                                </span>

                                <div id="divProvince" style="border: 1px solid #d2d6de"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <input type="button" class="btn btn-primary" value="保存" onclick="SaveInfo()" />
                </div>
            </div>
        </div>
    </section>
</body>
</html>
