﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Loading Bootstrap -->
    @*<link href="~/resources/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <!-- Loading Flat UI -->
    @*<link href="~/resources/css/flat-ui.min.css" rel="stylesheet" />
        <link rel="shortcut icon" href="/resources/img/favicon.ico" />*@
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="~/resources/js/vendor/html5shiv.js"></script>
      <script src="~/resources/js/vendor/respond.min.js"></script>
    <![endif]-->

    <link href="/Resources/bootstrap.min.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="container">
        @RenderBody()
      
    </div>

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    @*<script src="~/resources/js/vendor/jquery.min.js"></script>
    <script src="~/resources/js/flat-ui.min.js"></script>*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
