﻿
@{
    ViewBag.Title = "支付结果";
}

@section styles{
    <style type="text/css">
        .msg { padding: 20px 0; text-align: center; }
            .msg span { width: 24px; font-size: 24px; }
        .msgcontent { display: initial; font-size: 22px; }
    </style>
}

<div style="padding: 20px 0 50px">
    <h4>温馨提示</h4>
    <div class="row" style="border-top: #c0c0c0 solid 1px;">
        <div class="msg">
            <span class="fui-check-circle"></span>
            <div class="msgcontent">@ViewBag.Msg</div>
        </div>
    </div>
</div>