﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.master.cs" Inherits="Recharge.Agent.Main" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>充值管理系统</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.4 -->
    <link href="/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="/Content/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="/Content/dist/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme style -->
    <link href="/Content/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <script src="/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="/Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- SlimScroll -->
    <script src="/Content/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='/Content/plugins/fastclick/fastclick.min.js'></script>
    <!-- AdminLTE App -->
    <script src="/Content/dist/js/app.min.js" type="text/javascript"></script>
    <script src="/Content/dist/js/demo.js" type="text/javascript"></script>

    <script src="/Content/layer/layer.js"></script>
    <script src="/Content/jquery.json.min.js"></script>
    <script>
        $(function () {
            var innerHtml = '<li><a href="/index.aspx"><i class="fa fa-dashboard"></i>首页</a></li>';
            $(".content-header span").html("首页");
            for (var i = 0; i < $(".sidebar-menu li").length; i++) {

                if ($($(".sidebar-menu li a")[i]).attr("href") == window.location.pathname) {

                    $($(".sidebar-menu li")[i]).addClass("active");

                    innerHtml = innerHtml + (' <li><a href="javascript:void(0)">' + $($(".sidebar-menu li")[i]).find("span").html() + '</a></li>');


                    $(".content-header span").html($($(".sidebar-menu li")[i]).find("span").html());
                    $(".breadcrumb").html(innerHtml);
                    return;
                } else {
                    for (var j = 0; j < $(".sidebar-menu  li ul li").length; j++) {

                        if ($($(".sidebar-menu  li ul li a")[j]).attr("href") == window.location.pathname) {

                            $($(".sidebar-menu  li ul li")[j]).parent().parent().addClass("treeview active");

                            $($(".sidebar-menu  li ul li")[j]).addClass("active");

                            var values = $($(".sidebar-menu  li ul li")[j]).find("a").html().substring(('<i class="fa fa-circle-o"></i>').length);

                            innerHtml = innerHtml + (' <li><a href="javascript:void(0)">' + $($(".sidebar-menu  li ul li")[j]).parent().parent().find("span").html() + '</a></li>');

                            innerHtml = innerHtml + ' <li class="active">' + values + '</li>';

                            $(".content-header span").html(values);

                            $(".breadcrumb").html(innerHtml);

                            return;
                        }
                    }
                }
            }
        })
        function openRequestInfo() {
            layer.open({
                type: 2,
                title: "修改密码",
                shadeClose: false,
                shade: 0.8,
                area: [ '500px',  '400px'],
                content: "frmUpdatePwd.aspx",
                close: function (index) {
                      window.location.reload();
                },
                cancel: function (index) {
                      window.location.reload();
                }
            });
        }
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="skin-blue sidebar-mini">
    <form id="form1" runat="server">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="/index.aspx" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b></b></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>充值</b>系统</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">

                            <!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <%--<i class="fa fa-envelope-o"></i>--%> 电信
                                    <span class="label label-success">
                                        <asp:Literal runat="server" ID="ltDianXin">0</asp:Literal></span>
                                </a>

                            </li>
                            <!-- Notifications: style can be found in dropdown.less -->
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">移动
                                    <span class="label label-warning">
                                        <asp:Literal runat="server" ID="ltYiDong">0</asp:Literal></span>
                                </a>

                            </li>
                            <!-- Tasks: style can be found in dropdown.less -->
                            <li class="dropdown tasks-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">联通
                                    <span class="label label-danger">
                                        <asp:Literal runat="server" ID="ltLianTong">0</asp:Literal></span>
                                </a>

                            </li>
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="/Content/dist/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                                    <span class="hidden-xs" id="spanUserName1" runat="server">Alexander Pierce</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                        <p>
                                            <span id="spanUserName" runat="server"></span>

                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>

                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="javascript:void(0)" onclick="openRequestInfo()" class="btn btn-default btn-flat">修改密码</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="#" class="btn btn-default btn-flat" runat="server" onserverclick="LoginOut">退出登录</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p runat="server" id="pUserName">Alexander Pierce</p>

                            <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <%-- <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..." />
                            <span class="input-group-btn">
                                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>--%>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->

                    <asp:Literal runat="server" ID="ltAuthorityInfo"></asp:Literal>

                </section>
                <!-- /.sidebar -->
            </aside>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1><span>Data Tables</span>

                        <%-- <small>advanced tables</small>--%>
                    </h1>

                    <ol class="breadcrumb">
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->

            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.0
       
                </div>
                <strong>Copyright &copy; 2014-2015 <a href="javascript:void(0)">大满科技</a>.</strong> All rights reserved.
     
            </footer>

        </div>
    </form>

</body>
</html>
