﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestQueryBalance</title>
</head>
<body>
   <form id="frm" name="frm" method="POST" action="/api/@ViewBag.Agent/Balance/getBalance">
    <input id="param" name="param" type="hidden" value="@ViewBag.Param" />
    <input id="key" name="key" type="hidden" value="@ViewBag.Key" />
    <input id="Submit1" type="submit" value="submit" />
</form>
</body>
</html>

 

