﻿
@{
    ViewBag.Title = "TestGetProducts";
}

<h2>TestGetProducts</h2>


 
<form id="frm" name="frm" method="POST" action="/api/@ViewBag.Agent/Products/GetProducts">
    <input id="param" name="param" type="hidden" value="@ViewBag.Param" />
    <input id="key" name="key" type="hidden" value="@ViewBag.Key" />
    <input id="Submit1" type="submit" value="submit" />
</form>


