﻿
@{
    ViewBag.Title = "TestRechargeApi";
}

<h2>TestRechargeApi</h2>


<form id="frm" name="frm" method="POST" action="/api/@ViewBag.Agent/RechargeApi/PhoneRecharge">
    <input id="param" name="param" type="hidden" value="@ViewBag.Param" />
    <input id="key" name="key" type="hidden" value="@ViewBag.Key" />
    <input id="Submit1" type="submit" value="TestRechargeApi" />
</form>